html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#control-panel {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    bottom: 12px;
    left: 12px;
    z-index: 480;
}

#gps-panel {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 12px;
    left: 150px;
    z-index: 480;
}

#inputLatLng {
    width: 200px;
}
